$bgc1: black;
$bgc2: rgb(255, 102, 0);
$bgc3: #a5a5a5;
$bgc4: #4d4d4d;
$bgc5: rgb(20, 15, 31);

// %btn {
//     position: relative;
//     -webkit-transition-duration: 0.4s; /* Safari */
//     transition-duration: 0.4s;
//     text-decoration: none;
//     overflow: hidden;
//     cursor: pointer;
//     &::after {
//         content: "";
//         background: #fff;
//         display: block;
//         position: absolute;
//         padding-top: 300%;
//         padding-left: 350%;
//         margin-left: -20px!important;
//         margin-top: -120%;
//         opacity: 0;
//         transition: all 0.8s
//     }
//     &:active::after {
//         padding: 0;
//         margin: 0;
//         opacity: 1;
//         transition: 0s;
//     }
// }
.has-success {
    box-shadow: 0 0 20px #0f0;
}
.has-error {
    box-shadow: 0 0 20px #f00;
}
.header{
    background-color: #fff;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    h1 {
    }
    input:focus::placeholder{
        display: none;
    }
    &__about {
        letter-spacing: 0.3rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        margin: auto;
        display: block;
        color: $bgc5;
        text-align: center;
        font-size: 3rem;
        font-weight: 300;
        font-family: 'Raleway', sans-serif;
    }
    &__content {
        display: flex;
        align-items: start;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    &__video {
        width: 100%;
    }
    &__navwrap.hide {
        display: none;
    }
    &__navwrap.show {
        display: grid;
    }
    &__navwrap {
        display: none;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4fr 1fr;
        grid-template-areas: 
        "ul ul"
        "user user";
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 3rem;
        padding-bottom: 6rem;
        z-index: 3;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.8);
        font-family: 'Raleway', sans-serif;
    }
    &__title {
        width: 100%;
        grid-area: title;
        position: absolute;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        font-family: 'Kaushan Script', cursive;
        color: $bgc2;
        z-index: 3;
        text-align: center;
        text-transform: capitalize;
    }
    &__userwrap {
        display: grid;
        grid-area: user;
    }
    &__enter {
        grid-column: 2;
        grid-row: 4;
    }
    &__register {
        grid-column: 2;
        grid-row: 3;
    }
    &__user {
        display: flex;
        flex-flow: column;
        width: 200px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        label {
            width: 100%;
            text-decoration: none;
            color: #fff;
            font-size: 1rem;
            text-align: center;
        }
        input {
            background-color: rgba(255, 255, 255, 0.6);
            border: none;
            border-bottom: 2px solid $bgc3;
            height: 2rem;
            font-size: 1rem;
            margin-bottom: 1rem;
            width: 20rem;
            padding-left: 1rem;
            font-family: 'Raleway', sans-serif;
        }
        .header__enter,
        .header__register {
            background-color: #fff;
            padding: 0.2rem;
            border-radius: 0.2rem;
            cursor: pointer;
            font-family: 'Kaushan Script', cursive;
            font-size: 1rem;
            width: 20rem;
            &:hover,
            &:focus {
                background-color: #000;
                color: #fff;
            }
        }
    }
    &__entereduser {
        font-family: 'Kaushan Script', cursive;
        color: $bgc2;
        font-size: 2rem;
        position: absolute;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
    }
    &__userin {
        position: relative;
    }
    nav {
        display: grid;
        grid-area: ul;
        grid-column: 1 / 3;
    }
    &__ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: auto;
        list-style: none;
        grid-auto-flow: row;
        li {
            align-self: center;
            justify-self: center;
            position: relative;
            width: 20rem;
            z-index: 3;
            a {
                text-decoration: none;
                color: #fff;
                font-size: 1.5rem;
                p {
                    display: block;
                    text-transform: capitalize;
                    font-weight: 300;
                    text-align: center;
                }
            }
            img {
                display: none;
                width: auto;
                height: 200px;
                position: absolute;

            }
            &:hover a,
            &:focus a {
                color: $bgc2;
            }
            &:hover img,
            &:focus img {
                display: block;
                position: absolute;
                top: -50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
            }
        }
    }
    &__svg {
        z-index: 3;
        width: 24px;
        height: 24px;

    }
    &__down {
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
        fill: $bgc5;
        cursor: pointer;
    }
    &__input {
        background-color: rgba(255, 255, 255, 0.6);
        border: none;
        border-bottom: 2px solid $bgc3;
        height: 3rem;
        margin-top: 5px;
        font-size: 2rem;
        width: 20rem;
    }
    &__submit {
        margin-left: 1rem;
        border: none;
        border-radius: 0.5rem;
        width: 4rem;
        height: 3rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: $bgc4;
        background-color: #fff;
        text-transform: uppercase;
        &:hover svg{
            fill: $bgc2;
        }
        &:hover {
            opacity: 0.7;
        }
    }
    &__svg {
        fill: #000;
        stroke-width: 2px;
        width: 1rem;
        height: 1rem;
    }
    &__close {
        background-color: #fff;
        padding: 0.2rem;
        border-radius: 0.2rem;
        cursor: pointer;
        font-family: 'Kaushan Script', cursive;
        font-size: 2rem;
        position: absolute;
        top: 3rem;
        right: 3rem;
        transform: translate(-50%, 0);
        z-index: 5;
            &:hover,
            &:focus {
                background-color: #000;
                color: #fff;
            }

    }
    &__menu {
        border-radius: 50%;
        background-color: transparent;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -120%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 200px;
        z-index: 3;
        cursor: pointer;
        & img {
            width: 200px;
            height: 200px;
        }
        &:hover img {
            animation: 5s linear 0s normal none infinite running rotateBtn;
        }
    }
    @keyframes rotateBtn {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    &__p {
        position: absolute;
        top: 50%;
        right: 50%;
        transform:  translate(50%, -50%);
        z-index: 1;
        font-family: 'Kaushan Script', cursive;
        text-transform: uppercase;
        font-size: 2rem;
        color: $bgc2;
    }
    .shopcart.show{
        display: block;
    }
    .shopcart.hide {
        display: none;
    }
    .shopcart {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../images/bg/shopcart.jpg);
        background-size: cover;
        z-index: 10;
        color: $bgc4;
        &__wrapper {
            display: grid;
            justify-content: center;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 100px 100px 60% 100px;
            grid-template-areas: 
            "title title"
            "username username"
            "list form"
            "total total";
            grid-gap: 1rem;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.7);
            background-size: cover;
            padding: 3rem;
            font-size: 1rem;
            color: $bgc4;
            text-transform: capitalize;
        }
        h2 {
            grid-area: title;
            text-align: center;
            color: $bgc2;
            text-transform: capitalize;
        }
        &__active {
            display: flex;
        }
        &__username {
            grid-area: username;
            font-family: 'Raleway', sans-serif;
            color: $bgc2;
            h3 {
                text-transform: capitalize;
                text-align: center;
            }
        }
        &__list {
            grid-area: list;
            color: $bgc4;
            border-radius: 0.2rem;
            background-color: rgb(255, 255, 255);
            font-family: 'Raleway', sans-serif;
            img {
                width: auto;
                height: 100px;
                border-radius: 0.2rem;
                opacity: 0.8;
            }
            li {
                position: relative;
                padding: 2rem;
                color: $bgc4;
                display: grid;
                align-items: center;
                text-align: center;
                grid-template-columns: 3fr 1fr 1fr;
                grid-template-rows: 1fr;
            }
        }
        &__ol {
            height: 100%;
            color: $bgc4;
            color: #fff;
            overflow-y: auto;
        }
        &__total {
            font-family: 'Raleway', sans-serif;
            grid-area: total;
            margin-left: 2rem;
            color: #fff;
            text-align: center;
        }
        &__address {
            font-family: 'Raleway', sans-serif;
            grid-area: form;
            display: grid;
            grid-gap: 2rem;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(5, 1fr);
            input {
                padding: 1rem;
                border: none;
                border-bottom: 2px solid $bgc4;
            }
            input[type="submit"] {
                grid-column: 1 / 3;
                border: none;
                background-color: #fff;
                padding: 0.2rem;
                border-radius: 0.2rem;
                cursor: pointer;
                font-family: 'Kaushan Script', cursive;
                font-size: 2rem;
                &:hover,
                &:focus {
                    background-color: #000;
                    color: #fff;
                }
            }
        }
        &__close {
            background-color: #fff;
            padding: 0.2rem;
            border-radius: 0.2rem;
            cursor: pointer;
            font-family: 'Kaushan Script', cursive;
            font-size: 2rem;
            position: absolute;
            top: 3rem;
            right: 3rem;
            transform: translate(-50%, 0);
            &:hover,
            &:focus {
                background-color: #000;
                color: #fff;
            }
        }
        &__closeitem {
            background-color: #fff;
            padding: 0.2rem;
            border-radius: 0.2rem;
            cursor: pointer;
            font-family: 'Kaushan Script', cursive;
            font-size: 1rem;
            position: absolute;
            top: 2.5rem;
            right: 1rem;
            transform: translate(-50%, 0);
            z-index: 4;
            &:hover,
            &:focus {
                background-color: #000;
                color: #fff;
            }
        }
    }
}
@media only screen and (max-width: 1380px) {
    .header {
        &__navwrap {
            padding-bottom: 1rem;
        }
        &__title {
            font-size: 3rem;
        }
        &__about {
            font-size: 2rem;
        }
        &__close {
            right: 1rem;
            font-size: 1rem;
        }
        &__menu {
            width: 100px;
            height: auto;
            img {
                width: 120px;
                height: auto;
            }
            p {
                font-size: 1rem;
            }
        }
        &__ul {
            li {
                img {
                    height: 100px;
                    width: auto;
                }
                &:hover img,
                &:focus img {
                    top: 25%;
                }
            }
        }
    }
}
@media only screen and (max-width: 1200px) {
    .header{
        &__navwrap {
            padding-bottom: 0.5rem;
        }
        &__title {
            font-size: 3rem;
        }
        &__about {
            font-size: 2rem;
        }
        &__menu {
            width: 100px;
            height: auto;
            img {
                width: 100px;
                height: auto;
            }
            p {
                font-size: 1rem;

            }
        }
        &__ul {
            li {
                a {
                    p {
                        font-size: 1rem;
                    }
                }
                img {
                    width: auto;
                    height: 100px;
                }
            }
        }
        &__user {

            label {
                font-size: 1rem;
            }
            input {
                height: 1.5rem;
                width: 15rem;
                font-size: 1rem;
                &::placeholder {
                    font-size: 1rem;
                }
            }
            input[type="submit"] {
                font-size: 0.8rem;
                width: 15rem;
                height: 1.5rem;
            }
        }
    }
}
@media only screen and (max-width: 980px) {
    .header {
        &__navwrap {
            padding-bottom: 0;
        }
        &__title {
            font-size: 2rem;
        }
        &__about {
            font-size: 1.5rem;
        }
        &__ul {
            li {
                width: auto;
                &:hover img,
                &:focus img {
                    display: none;
                }
            }
        }
    }
}
@media only screen and (max-width: 880px) {
    .header {
        position: relative;
        overflow: hidden;
        height: 500px;
        &__title {
            width: 100%;
            margin-top: 2.5rem;
            font-size: 2rem;
        }
        &__content {
            min-width: 900px;
            position: absolute;
            top: -9999px;
            bottom: -9999px;
            left: -9999px;
            right: -9999px;
            margin: auto;
        }
        &__about {
            font-size: 1rem;
        }
        nav {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        &__ul {
            width: 100%;
        }
        &__userwrap {
            margin-left: auto;
            margin-right: auto;
            label {
                width: inherit;
            }
            input {
                width: inherit;
                height: 25px;
                margin-bottom: 5px;
            }
            input[type="submit"] {
                width: inherit;
            }
        }
    }
}
@media only screen and (max-width: 480px) {
    .header {
        &__menu {
            top: 8rem;
            right: 50%;
            transform: translateX(50%);
        }
    }
}
