.has-success {
  box-shadow: 0 0 20px #0f0; }

.has-error {
  box-shadow: 0 0 20px #f00; }

.header {
  background-color: #fff;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  box-sizing: border-box; }
  .header input:focus::placeholder {
    display: none; }
  .header__about {
    letter-spacing: 0.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    display: block;
    color: #140f1f;
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    font-family: 'Raleway', sans-serif; }
  .header__content {
    display: flex;
    align-items: start;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden; }
  .header__video {
    width: 100%; }
  .header__navwrap.hide {
    display: none; }
  .header__navwrap.show {
    display: grid; }
  .header__navwrap {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr 1fr;
    grid-template-areas: "ul ul" "user user";
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 3rem;
    padding-bottom: 6rem;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: 'Raleway', sans-serif; }
  .header__title {
    width: 100%;
    grid-area: title;
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-family: 'Kaushan Script', cursive;
    color: #ff6600;
    z-index: 3;
    text-align: center;
    text-transform: capitalize; }
  .header__userwrap {
    display: grid;
    grid-area: user; }
  .header__enter {
    grid-column: 2;
    grid-row: 4; }
  .header__register {
    grid-column: 2;
    grid-row: 3; }
  .header__user {
    display: flex;
    flex-flow: column;
    width: 200px;
    align-items: center;
    margin-left: auto;
    margin-right: auto; }
    .header__user label {
      width: 100%;
      text-decoration: none;
      color: #fff;
      font-size: 1rem;
      text-align: center; }
    .header__user input {
      background-color: rgba(255, 255, 255, 0.6);
      border: none;
      border-bottom: 2px solid #a5a5a5;
      height: 2rem;
      font-size: 1rem;
      margin-bottom: 1rem;
      width: 20rem;
      padding-left: 1rem;
      font-family: 'Raleway', sans-serif; }
    .header__user .header__enter,
    .header__user .header__register {
      background-color: #fff;
      padding: 0.2rem;
      border-radius: 0.2rem;
      cursor: pointer;
      font-family: 'Kaushan Script', cursive;
      font-size: 1rem;
      width: 20rem; }
      .header__user .header__enter:hover, .header__user .header__enter:focus,
      .header__user .header__register:hover,
      .header__user .header__register:focus {
        background-color: #000;
        color: #fff; }
  .header__userin {
    position: relative; }
  .header nav {
    display: grid;
    grid-area: ul;
    grid-column: 1 / 3; }
  .header__ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    list-style: none;
    grid-auto-flow: row; }
    .header__ul li {
      align-self: center;
      justify-self: center;
      position: relative;
      width: 20rem;
      z-index: 3; }
      .header__ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem; }
        .header__ul li a p {
          display: block;
          text-transform: capitalize;
          font-weight: 300;
          text-align: center; }
      .header__ul li img {
        display: none;
        width: auto;
        height: 200px;
        position: absolute; }
      .header__ul li:hover a,
      .header__ul li:focus a {
        color: #ff6600; }
      .header__ul li:hover img,
      .header__ul li:focus img {
        display: block;
        position: absolute;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1; }
  .header__svg {
    z-index: 3;
    width: 24px;
    height: 24px; }
  .header__down {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    fill: #140f1f;
    cursor: pointer; }
  .header__input {
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-bottom: 2px solid #a5a5a5;
    height: 3rem;
    margin-top: 5px;
    font-size: 2rem;
    width: 20rem; }
  .header__submit {
    margin-left: 1rem;
    border: none;
    border-radius: 0.5rem;
    width: 4rem;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #4d4d4d;
    background-color: #fff;
    text-transform: uppercase; }
    .header__submit:hover svg {
      fill: #ff6600; }
    .header__submit:hover {
      opacity: 0.7; }
  .header__svg {
    fill: #000;
    stroke-width: 2px;
    width: 1rem;
    height: 1rem; }
  .header__close {
    background-color: #fff;
    padding: 0.2rem;
    border-radius: 0.2rem;
    cursor: pointer;
    font-family: 'Kaushan Script', cursive;
    font-size: 2rem;
    position: absolute;
    top: 3rem;
    right: 3rem;
    transform: translate(-50%, 0);
    z-index: 5; }
    .header__close:hover, .header__close:focus {
      background-color: #000;
      color: #fff; }
  .header__menu {
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -120%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    z-index: 3;
    cursor: pointer; }
    .header__menu img {
      width: 200px;
      height: 200px; }
    .header__menu:hover img {
      animation: 5s linear 0s normal none infinite running rotateBtn; }

@keyframes rotateBtn {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
  .header__p {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 1;
    font-family: 'Kaushan Script', cursive;
    text-transform: uppercase;
    font-size: 2rem;
    color: #ff6600; }
  .header .shopcart.show {
    display: block; }
  .header .shopcart.hide {
    display: none; }
  .header .shopcart {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/bg/shopcart.jpg);
    background-size: cover;
    z-index: 10;
    color: #4d4d4d; }
    .header .shopcart__wrapper {
      display: grid;
      justify-content: center;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 100px 100px 60% 100px;
      grid-template-areas: "title title" "username username" "list form" "total total";
      grid-gap: 1rem;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      background-size: cover;
      padding: 3rem;
      font-size: 1rem;
      color: #4d4d4d;
      text-transform: capitalize; }
    .header .shopcart h2 {
      grid-area: title;
      text-align: center;
      color: #ff6600;
      text-transform: capitalize; }
    .header .shopcart__active {
      display: flex; }
    .header .shopcart__username {
      grid-area: username;
      font-family: 'Raleway', sans-serif;
      color: #ff6600; }
      .header .shopcart__username h3 {
        text-transform: capitalize;
        text-align: center; }
    .header .shopcart__list {
      grid-area: list;
      color: #4d4d4d;
      border-radius: 0.2rem;
      background-color: white;
      font-family: 'Raleway', sans-serif; }
      .header .shopcart__list img {
        width: auto;
        height: 100px;
        border-radius: 0.2rem;
        opacity: 0.8; }
      .header .shopcart__list li {
        position: relative;
        padding: 2rem;
        color: #4d4d4d;
        display: grid;
        align-items: center;
        text-align: center;
        grid-template-columns: 3fr 1fr 1fr;
        grid-template-rows: 1fr; }
    .header .shopcart__ol {
      height: 100%;
      color: #4d4d4d;
      color: #fff;
      overflow-y: auto; }
    .header .shopcart__total {
      font-family: 'Raleway', sans-serif;
      grid-area: total;
      margin-left: 2rem;
      color: #fff;
      text-align: center; }
    .header .shopcart__address {
      font-family: 'Raleway', sans-serif;
      grid-area: form;
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(5, 1fr); }
      .header .shopcart__address input {
        padding: 1rem;
        border: none;
        border-bottom: 2px solid #4d4d4d; }
      .header .shopcart__address input[type="submit"] {
        grid-column: 1 / 3;
        border: none;
        background-color: #fff;
        padding: 0.2rem;
        border-radius: 0.2rem;
        cursor: pointer;
        font-family: 'Kaushan Script', cursive;
        font-size: 2rem; }
        .header .shopcart__address input[type="submit"]:hover, .header .shopcart__address input[type="submit"]:focus {
          background-color: #000;
          color: #fff; }
    .header .shopcart__close {
      background-color: #fff;
      padding: 0.2rem;
      border-radius: 0.2rem;
      cursor: pointer;
      font-family: 'Kaushan Script', cursive;
      font-size: 2rem;
      position: absolute;
      top: 3rem;
      right: 3rem;
      transform: translate(-50%, 0); }
      .header .shopcart__close:hover, .header .shopcart__close:focus {
        background-color: #000;
        color: #fff; }
    .header .shopcart__closeitem {
      background-color: #fff;
      padding: 0.2rem;
      border-radius: 0.2rem;
      cursor: pointer;
      font-family: 'Kaushan Script', cursive;
      font-size: 1rem;
      position: absolute;
      top: 2.5rem;
      right: 1rem;
      transform: translate(-50%, 0);
      z-index: 4; }
      .header .shopcart__closeitem:hover, .header .shopcart__closeitem:focus {
        background-color: #000;
        color: #fff; }

@media only screen and (max-width: 1380px) {
  .header__navwrap {
    padding-bottom: 1rem; }
  .header__title {
    font-size: 3rem; }
  .header__about {
    font-size: 2rem; }
  .header__close {
    right: 1rem;
    font-size: 1rem; }
  .header__menu {
    width: 100px;
    height: auto; }
    .header__menu img {
      width: 120px;
      height: auto; }
    .header__menu p {
      font-size: 1rem; }
  .header__ul li img {
    height: 100px;
    width: auto; }
  .header__ul li:hover img,
  .header__ul li:focus img {
    top: 25%; } }

@media only screen and (max-width: 1200px) {
  .header__navwrap {
    padding-bottom: 0.5rem; }
  .header__title {
    font-size: 3rem; }
  .header__about {
    font-size: 2rem; }
  .header__menu {
    width: 100px;
    height: auto; }
    .header__menu img {
      width: 100px;
      height: auto; }
    .header__menu p {
      font-size: 1rem; }
  .header__ul li a p {
    font-size: 1rem; }
  .header__ul li img {
    width: auto;
    height: 100px; }
  .header__user label {
    font-size: 1rem; }
  .header__user input {
    height: 1.5rem;
    width: 15rem;
    font-size: 1rem; }
    .header__user input::placeholder {
      font-size: 1rem; }
  .header__user input[type="submit"] {
    font-size: 0.8rem;
    width: 15rem;
    height: 1.5rem; } }

@media only screen and (max-width: 980px) {
  .header__navwrap {
    padding-bottom: 0; }
  .header__title {
    font-size: 2rem; }
  .header__about {
    font-size: 1.5rem; }
  .header__ul li {
    width: auto; }
    .header__ul li:hover img,
    .header__ul li:focus img {
      display: none; } }

@media only screen and (max-width: 880px) {
  .header {
    position: relative;
    overflow: hidden;
    height: 500px; }
    .header__title {
      width: 100%;
      margin-top: 2.5rem;
      font-size: 2rem; }
    .header__content {
      min-width: 900px;
      position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto; }
    .header__about {
      font-size: 1rem; }
    .header nav {
      width: 100%;
      margin-left: auto;
      margin-right: auto; }
    .header__ul {
      width: 100%; }
    .header__userwrap {
      margin-left: auto;
      margin-right: auto; }
      .header__userwrap label {
        width: inherit; }
      .header__userwrap input {
        width: inherit;
        height: 25px;
        margin-bottom: 5px; }
      .header__userwrap input[type="submit"] {
        width: inherit; } }

@media only screen and (max-width: 480px) {
  .header__menu {
    top: 8rem;
    right: 50%;
    transform: translateX(50%); } }

.carousel__next, .carousel__prev {
  position: relative;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer; }
  .carousel__next::after, .carousel__prev::after {
    content: "";
    background: #fff;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s; }
  .carousel__next:active::after, .carousel__prev:active::after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s; }

.about p, .carousel__text {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  line-height: 3rem;
  color: #fff; }

main {
  background: url(../images/bg/t-shirts.jpg);
  background-repeat: repeat-y;
  padding-top: 5rem; }

.about {
  background-color: rgba(11, 8, 17, 0.9);
  width: 1170px;
  margin: auto;
  margin-bottom: 5rem;
  padding: 2rem; }
  .about h3 {
    color: #ff6600;
    text-align: center;
    margin-bottom: 2rem; }

.female {
  margin-top: 5rem; }

section {
  margin: auto;
  width: 1170px;
  padding: 3rem;
  background-color: rgba(11, 8, 17, 0.9); }

.carousel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 80px 600px;
  grid-gap: 1rem;
  overflow: hidden;
  position: relative; }
  .carousel__text {
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }
  .carousel__popup {
    position: absolute;
    top: 0;
    left: 0; }
    .carousel__popup p {
      position: absolute;
      top: 50px;
      right: 50px; }
  .carousel__title {
    margin: auto;
    grid-column-start: 1;
    grid-column-end: 4;
    color: #ff6600; }
  .carousel__goodsname {
    margin-top: 2rem; }
  .carousel__ul {
    list-style: none;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-gap: 3rem; }
  .carousel__li {
    height: 600px; }
    .carousel__li a {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 3fr 1fr 1fr;
      background-color: #fff;
      padding: 1rem;
      color: #4d4d4d;
      text-decoration: none;
      height: 100%; }
  .carousel__li:hover, .carousel__li:focus {
    transform: scale(0.99); }
  .carousel__img {
    display: block;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    position: relative; }
    .carousel__img img {
      position: absolute;
      top: 50%;
      left: 50%;
      object-fit: cover;
      max-width: none;
      max-height: none;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      max-height: 100%;
      max-width: 100%; }
  .carousel__descr {
    position: relative;
    display: grid;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 2fr 1fr 1fr;
    align-content: center;
    align-items: center;
    grid-gap: 1rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem; }
    .carousel__descr .able {
      display: block; }
    .carousel__descr p {
      height: 100%;
      text-align: center; }
    .carousel__descr h4 {
      text-transform: capitalize;
      text-align: center; }
  .carousel__addtocart {
    background-color: #fff;
    padding: 0.2rem;
    border: 2px solid #4d4d4d;
    border-radius: 0.2rem;
    cursor: pointer;
    font-family: 'Kaushan Script', cursive;
    font-size: 1rem;
    position: absolute;
    z-index: 4;
    top: -18%;
    right: 16%;
    transform: translate(50%, 0); }
    .carousel__addtocart:hover, .carousel__addtocart:focus {
      background-color: #000;
      color: #fff; }
  .carousel__price h4 {
    margin-top: -1rem;
    margin: 0;
    padding: 0; }
  .carousel__ulnested {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none; }
    .carousel__ulnested li {
      display: none;
      margin-bottom: 2rem;
      cursor: pointer;
      border: 2px solid transparent; }
      .carousel__ulnested li:hover, .carousel__ulnested li:focus {
        border: 2px solid #000; }
    .carousel__ulnested li + li {
      margin-left: 1rem; }
  .carousel__next {
    background-color: #fff;
    padding: 0.2rem;
    border: 2px solid #4d4d4d;
    border-radius: 0.2rem;
    cursor: pointer;
    font-family: 'Kaushan Script', cursive;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(50%, 0); }
    .carousel__next:hover, .carousel__next:focus {
      background-color: #000;
      color: #fff; }
  .carousel__prev {
    background-color: #fff;
    padding: 0.2rem;
    border: 2px solid #4d4d4d;
    border-radius: 0.2rem;
    cursor: pointer;
    font-family: 'Kaushan Script', cursive;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, 0); }
    .carousel__prev:hover, .carousel__prev:focus {
      background-color: #000;
      color: #fff; }
  .carousel__down {
    position: absolute;
    transform: scale(0.6) translateX(-50%);
    top: 95%;
    left: 49%;
    z-index: 4;
    fill: #a5a5a5;
    cursor: pointer; }

@media only screen and (max-width: 1200px) {
  section {
    width: 980px; }
  .about {
    width: 980px; }
    .about p {
      width: 95%; }
  .carousel {
    width: 650px;
    margin-left: auto;
    margin-right: auto; } }

@media only screen and (max-width: 980px) {
  section {
    width: 600px; }
  .about {
    width: 600px; }
    .about__title {
      font-size: 2rem; }
    .about p {
      width: 400px;
      font-size: 1rem; }
  .carousel {
    margin-left: auto;
    margin-right: auto;
    width: 320px; }
    .carousel__title {
      font-size: 2rem; }
    .carousel__text {
      width: 300px;
      font-size: 1rem; }
    .carousel__ul li {
      margin-left: 2rem; }
    .carousel__ulnested li {
      margin-left: 0; }
    .carousel__ulnested li + li {
      margin-left: 0.2rem; }
    .carousel__prev {
      left: 20%; }
    .carousel__next {
      right: 15%; } }

@media only screen and (max-width: 610px) {
  section {
    width: 100%; }
  .about {
    width: 100%; }
    .about__title {
      font-size: 2rem; }
    .about p {
      width: 95%; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  font-size: 5rem;
  letter-spacing: 0.3em;
  font-family: 'Kaushan Script', cursive; }

h2 {
  font-size: 4rem;
  letter-spacing: 0.2em;
  font-family: 'Kaushan Script', cursive; }

h3 {
  font-size: 3rem;
  letter-spacing: 0.1em;
  font-family: 'Kaushan Script', cursive; }

h4 {
  font-size: 1.5rem; }
